@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #373F51;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "JetBrains Mono", monospace;
}

.progressBars {
  gap: 25px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.progressBars:hover {
  cursor: default;
}

.barContainer {
  width: 100%;
  padding: 8px;
  position: relative;
  border-radius: 6px;
  background: #4F586E;
  -webkit-box-flex: calc(33% - 50px);
      -ms-flex: calc(33% - 50px);
          flex: calc(33% - 50px);
  border: 1px solid #616A80;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-box-shadow: rgba(25, 26, 27, 0.3) 0px 4px 8px 0px;
          box-shadow: rgba(25, 26, 27, 0.3) 0px 4px 8px 0px;
}
.barContainer:hover {
  background: #566077;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.barContainer:hover > .progressText {
  color: rgba(10, 10, 10, 0.55);
}

.barTitle {
  font-size: 16pt;
  color: #212121;
  font-weight: light;
}

.progressBar {
  width: 100%;
  height: 5px;
  display: block;
  border-radius: 6px;
  background: #45485A;
}

.progressInner {
  width: 0%;
  height: 5px;
  display: block;
  border-radius: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #FF9F17;
}

.progressText {
  top: 8px;
  right: 8px;
  font-size: 12pt;
  margin-top: 5px;
  color: #4F586E;
  text-align: center;
  position: absolute;
  font-weight: lighter;
}